
@font-face {
    font-family: 'Mont-Heavy';
    src: url('../public/fonts/Mont-Heavy.otf') format('opentype');
  }

.loginContainer {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    background-color: #151F2B;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  
  .rightsection {
    flex-wrap: nowrap;
    flex: 1;
    padding: 100px;
  }
  
  .rightsection img {
    width: 50px; 
    height: auto;
    margin-bottom: 100px;
    padding-left: 10px;
  }
  
  .rightsection h1 {
    font-family: 'Mont-Heavy', sans-serif;
    color: white;
    font-size: 65px;
    margin-bottom: 200px;
  }
  
  .rightsection h2 {
    font-family: 'Mont-Heavy', sans-serif;
    color: white;
    font-size: 30px;
  }

  .paragraph {
    font-family: 'Mont-Heavy', sans-serif;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .leftsection {
    flex: 1;
    height: 100%;
    background-image: url('../public/landingBG.png');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .logobig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .logobig img {
    width: 200px; 
    height: auto;
  }

  .signUpBtn {
    text-align: center;
    font-family:Verdana;
    color: white;
    background-color: #5094D0;
    font-size: 22px;
    font-weight: bolder;
  }

  .signInBtn {
    text-align: center;
    font-family:Verdana;
    color: #4687C7;
    background-color: #151F2B;
    font-size: 22px;
    font-weight: bolder;
  }



 