.container{
  background-color:  #151D26;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding:10px;
  color: white;
  border-bottom: white solid 1px;
}

.nameAndtime{
    color : gray;
}

.message{
   margin : 15px;
}

.heart{
    color :white;
    margin : 5px;
}

.colorHashtag{
  color : blue;
}